@import "tailwindcss";

@font-face {
  font-family: 'Roboto';
  src: url('./Roboto.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Roboto', sans-serif;
}

input[type=checkbox] {
  @apply rounded-full accent-green-500 size-5;
}

.icon-btn {
  @apply size-9 p-2 rounded hover:text-green-500 hover:shadow-sm cursor-pointer transition-all duration-300;
}

.btn {
  @apply bg-green-500 text-white px-3 py-1 rounded cursor-pointer hover:shadow transition-all duration-300;
}

.btn.full {
  @apply w-full rounded-full text-center max-w-sm active:brightness-95 transition-all duration-300;
}

.btn.cancel {
  @apply bg-red-50 text-red-500;
}

.btn.fade {
  @apply bg-green-50 text-green-500;
}

.btn:disabled {
  @apply opacity-50 cursor-not-allowed;
}

.modal {
  width: 80vw;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  opacity: 0;
}

.modal::backdrop {
  opacity: 0;
  transition: all 300ms;
  background-color: rgba(0, 0, 0, 0.1);
}

.modal.open,
.modal.open::backdrop {
  opacity: 1;
}
