@import "tailwindcss";

@font-face {
  font-family: 'Roboto';
  src: url('../assets/font/Roboto.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Roboto', sans-serif;
}
